@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.logo img {
    width: 180px;
}

.nav-link ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vmax;

}

ul button {
    background-color: rgb(170, 90, 40);
    color: rgb(253, 251, 251);
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 100px;
    font-weight: bolder;
}

.social-icons {
    display: flex;
    gap: 1rem;

}

.links {
    border: 1px solid black;
    border-radius: 50px;
    width: 25px;
    padding: 7px;
    text-align: center;

}



.soulmate-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.content {
    width: 500px;
}

.section-img img {
    width: 100%;
}

.section-img {
    width: 300px;
}

/* second-section */



.second-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.second-content {
    width: 500px;
}

.second-img img {
    width: 400px;
}


button {
    background-color: rgb(136, 75, 35);
    color: rgb(253, 251, 251);
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 90px;
    font-weight: bolder;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}








/* second-header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(211, 211, 77);
}


.menu-bar {
    display: none;
    position: fixed;
    right: 10px;

}

.navbar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmax;
}



@media screen and (max-width:600px) {
    .menu-bar {
        display: block;
    }

    .navbar ul {
        display: block;
        position: absolute;
        right: 10px;
        background-color: rgb(211, 211, 77);
        top: 40px;
        height: 300px;
        line-height: 50px;
        width: 200px;
        text-align: center;

    }

}