@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.logo img {
    width: 180px;
}
ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vmax;

}

.social-icons{
    display: flex;
    gap: 1rem;
    
}

.links {
    border: 1px solid black;
    border-radius: 50px;
    width: 25px;
    padding: 7px;
    text-align: center;

}



.soulmate-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.content {
    width: 500px;
}

.section-img img {
    width: 100%;
}
.section-img  {
    width: 300px;
}

/* second-section */



.second-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    
}

.second-content {
    width: 500px;
}

.second-img img {
    width: 400px;
}


button {
    background-color: rgb(131, 121, 121);
    color: rgb(253, 251, 251);
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 90px;
}





/* small media qurey */

